body {
    background-color: #4C996B;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: "serif", Georgia;
}


ul {
    list-style-type: none;
}

li:hover {
    background-color: #0F5C2E;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #297A4A;
    font-weight: bold;
}


a:hover{
    color: white;
}


.bar {
    padding-top: 10px;
    background-color: #297A4A;
    padding-bottom: 1px;
    width: 100%;
}

.bar ul {
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

.bar li, li > a {
    color: white;
    display: inline;
    padding: 20px;
    font-weight: normal;
}

.main {
    background-color: #A2D3B6;
    width: 80%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.button {
  display: block;
  height: 30px;
  width: 125px;
  background: #297A4A;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 1em/15px Georgia, serif;
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 25px;
  box-shadow: 0 5px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.line {
    width: 550px;
}

.home {
    color: #023215;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}
