body {
    background-color: #4C996B;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: "sans-serif", Helvetica;
}

/* adjust all text size, including forms */
input[type=textarea] { 
    width: 200%;
    height: 200%
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: #0F5C2E;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #297A4A;
    font-weight: bold;
}

a:hover{
    color: white;
}

.bar {
    padding-top: 10px;
    background-color: #297A4A;
    padding-bottom: 1px;
    width: 100%;
}

.bar ul {
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

.bar li, li > a {
    color: white;
    display: inline;
    padding: 20px;
    font-weight: normal;
}

.main {
    background-color: #A2D3B6;
    width: 80%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.button {
  display: block;
  height: 30px;
  width: 125px;
  background: #297A4A;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 1em/15px Georgia, serif;
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 25px;
}

.line {
    width: 550px;
}

.home {
    color: #023215;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}

.form-container {
   border: 5px solid #A2D3B6;
   background: #4C996B;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   text-decoration: none;
   vertical-align: middle;
   padding:20px;
   width:300px;
   }

.form-field {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }

.form-field:focus {
   background: #f2f7c3;
   color: #ffffff;
   }

.form-container h2 {
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }

.form-title {
   margin-bottom:10px;
   color: #ffffff;
   }

.submit-container {
   margin:8px 0;
   text-align:right;
   }

.submit-button {
   background: #A2D3B6;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #ffffff;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
