body {
    background-color: #4C996B;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: "serif", Georgia;
}

/* adjust all text size, including forms */
input[type=textarea] { 
    width: 200%;
    height: 200%
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: #0F5C2E;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #297A4A;
    font-weight: bold;
}

a:hover{
    color: white;
}

.bar {
    padding-top: 10px;
    background-color: #297A4A;
    padding-bottom: 1px;
    width: 100%;
}

.bar ul {
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

.bar li, li > a {
    color: white;
    display: inline;
    padding: 20px;
    font-weight: normal;
}

.main {
    background-color: #A2D3B6;
    width: 80%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.button {
  display: block;
  height: 30px;
  width: 125px;
  background: #297A4A;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: bold 1em/15px Georgia, serif;
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 25px;
  box-shadow: 0 5px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.line {
    width: 550px;
}

.home {
    color: #023215;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}

.form-container {
   border: 5px solid #ffdab2;
   background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffe5c9), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #ffe5c9, #c9b7a2);
   background: -moz-linear-gradient(top, #ffe5c9, #c9b7a2);
   background: -ms-linear-gradient(top, #ffe5c9, #c9b7a2);
   background: -o-linear-gradient(top, #ffe5c9, #c9b7a2);
   background-image: -ms-linear-gradient(top, #ffe5c9 0%, #c9b7a2 100%);
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }

.form-field {
   border: 2px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #d6b794;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }

.form-field:focus {
   background: #f2f7c3;
   color: #000000;
   }

.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }

.form-title {
   margin-bottom:10px;
   color: #75522a;
   text-shadow: #fdf2e4 0 1px 0;
   }

.submit-container {
   margin:8px 0;
   text-align:right;
   }

.submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #3f5726 0 1px 0;
   color: #000000;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }

.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }

.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
