{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}

<center>
  <h1> Stories </h1>
  <h3>{{error}}</h3>
  <hr>
  <ul>
    <table>
      {% for item in storyList %}
      <tr>
	
	<td> <a href="/story/{{item[2]}}" class ="home">{{ item[0] }} </a></td>
	
	<td style="color:gray"> - {{item[1]}} </td>
	
	{% if session.username == item[1] %}
	<td> <button><a href="/deleteStory/{{item[2]}}">Delete</a></button> </td>
	{% endif %}
      </tr>
      {% endfor %}
    </table>
</center>
{% endblock %}
