{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %}
<div>
  <center>
  {%if err %}
  <h3>{{err}}</h3>
  <hr>
  {% endif %}
<form class="form-container" action ="/login" method="POST">
<div class="form-title"><h2>Login</h2></div>
<div class="form-title">Username</div>
<input class="form-field" type="text" name="firstname" placeholder="username" required /><br />
<div class="form-title">Password</div>
<input class="form-field" type="password" name="password" placeholder="password" /><br />
<div class="submit-container">
<input class="submit-button" name="button" type="submit" value="Submit" />
</div>
</form>

</div>
{% endblock %}
