{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %}
<div>
  <center>
  <h1> Login </h1>
  <hr>
  {%if err %}
  <h3>{{err}}</h3>
  <hr>
  {% endif %}
  <form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <br>
  <input type="password" name="password" placeholder="Password" required>
  <br>
  <input type="submit" value = "submit">
  <input type="submit" value ="cancel">
  </form>

  </center>

</div>
{% endblock %}
