{% extends "base.html" %}

{% block title %} New Story {% endblock %}
{% block content %}


{% if session.logged_in %}
<form method ="POST">
	<table>
		<tr><td>Story Title:</td><td><input type="text" name="title"></td></tr>
		<tr><td>First Line:</td><td><input type="text" name ="line"></td></tr>
		<br>
		<tr><td><input type="submit" name="submit" class="button"></td></tr>
	</div>
</form>
{% else %}

Please <a href="/login">login</a> or <a href="/register">register</a> to add a new story.
</div>

{% endif %}




{% endblock %}
