<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<head>
<title>Register</title>
</head>

<body>
<center>
<h1>Register</h1>
<hr>
{% if err %}
<h3>{{err}}</h3>
<hr>
{% endif %}
<form  method="POST">
<input type="text" name="username" placeholder="Username" required>
<br>
<input type="password" name="password" placeholder="Password" required>
<br>
<input type="password" name ="password2" placeholder ="Reenter
Password" required>
<br><br>

<input type="submit" name="button" value="submit" class="button">

</form>


</center>
</body>

{% endblock %}
