{% extends "base.html" %}

{% block title %}Story {{id}}{% endblock %}
{% block content %}
<!-- Shows current story, form to add new line -->
<div id="story"><p>

    <table>
	    {% for line in story %}
	    <tr>
	      <td>{{ line[0] }}</td>
	      <td style="color:gray"> - {{line[1]}} <td>
	      {% if session.logged_in and session.username == line[1]%}
	      <td> <button><a href="/editLine/{{id}}/{{line[2]}}">Edit</a></button></td>
	      <td> <button><a href="/deleteLine/{{id}}/{{line[2]}}">Delete</a></button></td>
	      {% endif %}

	    </tr>
	    {% endfor %}
    </table>
	</p>

	<br>
	<hr>
	{% if session.logged_in %}
	<form method = "POST">
		Add a line: <input type="text" name="line" class="line" required>
		<br><br>
		<input type="submit" name="button" value="submit" class="button">
	</form>
	{% else %}
	Please <a href="/login">login</a> or <a href="/register">register</a> to edit this story.
	</div>
	{% endif %}
{% endblock %}
