{% extends "base.html" %}

{% block title %}Story {{id}}{% endblock %}
{% block content %}
<!-- Shows current story, form to add new line -->
	<div id="story"><p>
	{{ story }}
	</p>

	<br>
	<hr>
	{% if session.logged_in %}
	<form method = "POST">
		Add a line: <input type="text" name="line" class="line">
		<br><br>
		<input type="submit" name="button" value="submit" class="button">
	</form>
	{% else %}
	Please <a href="/login">login</a> or <a href="/register">register</a> to edit this story.
	</div>
	{% endif %}
{% endblock %}
